#highHeader {
    /* margin-top: 25px; */
    height: 90vh;
    background-image: url("images/leaderboards-hero-banner.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    top: 35px;
    /* filter: brightness(50%); */
}

.nav-link {
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: white;
}

body {
    font-family: "VALORANT", sans-serif !important;
}

.uprank {
    color: white;
    position: relative;
    top: 384px;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 0.85;
    width: 100%;
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
}


/* leaderboard  */

#leader {
    margin-top: 100px;
}

th {
    align-items: center;
    text-align: center;
    color: #ece8e1;
    margin-bottom: 45px;
}

.text {
    text-align: center;
    /* font-family: "Tungsten-Bold", arial, georgia, sans-serif; */
    font-size: 15px;
    font-family: "DINNextW1G", arial, georgia, sans-serif;
    color: black;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.radiant {
    line-height: 1;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
}


/* logo  */


/* .logo {
    background-color: #0f1923;
    text-align: center;
    width: 100px;
    height: 100px;
}

.radiantlogo {
    padding: 200px;
} */

#logo {
    margin-top: 120px;
    background-color: #0f1923;
}

.board {
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
}

.radiant {
    font-family: "DINNextW1G", arial, georgia, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: white;
}


/* .first {
    position: relative;
    left: 100px;
}

.second {
    position: relative;
    left: 130px;
}

.third {
    position: relative;
    left: 50px;
} */

tbody {
    color: #fff;
    text-align: center;
}

.jod {
    margin-top: 45px;
    background-color: #dddbd4;
}

th {
    color: black;
}

thead {
    text-align: center;
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #0f1923;
}

.firsted {
    color: #5ee6eb;
}

.seconded {
    color: #5ee6eb;
}

.thirded {
    color: #5ee6eb;
}

.fourthed {
    color: #5ee6eb;
}

td {
    color: #111110;
}

.imp {
    font-family: "DINNextW1G", arial, georgia, sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    color: black;
}

.noimp {
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
}

.ndimp {
    font-family: "DINNextW1G", arial, georgia, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

.thirdimp {
    font-family: "DINNextW1G", arial, georgia, sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.just {
    font-family: "Tungsten-Bold", arial, georgia, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

footer {
    background-color: #111111;
    padding: 120px;
    font-family: "FF Mark W05", Arial, sans-serif;
}

ul {
    list-style: none;
}

.yt-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.yt-container {
    max-width: 1170px;
    margin: auto;
}

.footer-cal h4 {
    font-size: 18px;
    color: #5a5a5a;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-cal h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #161616;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-cal ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-cal ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffffff !important;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb !important;
    display: block;
    transition: all 0.3s ease;
}

ul li {
    color: #fff !important;
}

.footer-cal ul li a:hover {
    color: #ffffffff;
    padding-left: 10px;
}

.footer-cal .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}

.footer-cal .social-links a:hover {
    color: #24262b;
    background-color: #292929;
}


/*responsive*/

@media (max-width: 767px) {
    .footer-cal {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-cal {
        width: 100%;
    }
}


/* view rank */

.buttons {
    padding: 40px 0 40px 0;
}

.next {
    margin-left: 600px;
}