#news {
    height: 100vh;
    background-image: url("images/yoru.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: red;
}

.feat {
    float: right;
    margin-top: 25%;
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "valorant";
}

.cc {
    float: center;
    color: white;
    position: relative;
    top: 500px;
    text-align: center;
    align-items: center;
    /* right: 100px; */
}

.fle {
    /* display: inline-block; */
    text-align: center;
    position: relative;
    top: 500px;
}

.and {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.cc1 {
    padding-left: 20px;
    color: white;
    width: 20px;
}


/* flaoting */

.skill-row {
    width: 55%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 50px;
}

.code-img {
    width: 65%;
    float: left;
    margin-right: 30px;
}

.bulb-img {
    width: 65%;
    float: right;
    margin-left: 30px;
}


/* footer  */

footer {
    background-color: #111111;
    padding: 120px;
    font-family: "FF Mark W05", Arial, sans-serif;
}

ul {
    list-style: none;
}

.yt-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.yt-container {
    max-width: 1170px;
    margin: auto;
}

.footer-cal h4 {
    font-size: 18px;
    color: #5a5a5a;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-cal h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #161616;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-cal ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-cal ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffffff !important;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb !important;
    display: block;
    transition: all 0.3s ease;
}

ul li {
    color: #fff !important;
}

.footer-cal ul li a:hover {
    color: #ffffffff;
    padding-left: 10px;
}

.footer-cal .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}

.footer-cal .social-links a:hover {
    color: #24262b;
    background-color: #292929;
}